body{
    margin: 0;
}

header{
    background-color: #74ACDF;
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
}

main{
    margin-top: 80px;
}

.trabajo{
    border: 1px solid black;
    margin-bottom: 30px;
}

div h1, div p {
    margin: 10px 15px;
}
