body{
    margin: 0;
    background-color: #f0f3f4 ;
}

header{
    z-index: 9999;
    background-color: #74ACDF;
    width: 100%;
    height: 12%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
}

main{
    margin-top: 7%;
}

.logo{
    width: 10%;
    height: auto;
}

.trabajo{
    position: relative;
    border: 1px solid black;
    border-radius: 0 0 10px 10px;
    margin-bottom: 30px;
    width: 40%;
    height: 340px;
    overflow: hidden;
}

.trabajo img{
    justify-content: center; 
    width: 100%;
}

div h1, div p {
    margin: 10px 15px;
    font-size: 15px;
    width: 100%;
}

.consultor{
    position: absolute;
    bottom: 10px;
    right: 10px;

}

.acciones{
    top: -240px;
    position: absolute;
    right: 10px;
}

.consultor button{
    border: 2px black;
    border-radius: 5px;
}

.consultor button:hover {
    transform: translate(-4px, -4px);
    box-shadow: 0 8px 20px rgba(116, 172, 223, 0.6);
}

.trabajoPares, .trabajoClaim{
    display:flex; 
    flex-direction:row; 
    gap:50px; 
    justify-content:center
}

.trabajo.ultimo{
    position: relative;
    left: -21.6%;

}

.boton-header{
    top: 13px;
    position: absolute;
    right: 20px;
    width: 32px;
    height: 26px;
}

.three-points{
    display: flex;
    justify-content: center;
    position: relative;
    right: 4px;
    top: -2px;
}

a {
    text-decoration: none;
}

a.logo {
    display: flex;
    justify-content: center;
}

a.logo img {
    border-radius: 5px;
    max-height: 80%;
}

.pefil{ 
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #e9f2fb;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.perfil_contenido  {
    margin-top: 100px;
    text-align: center;
}

.perfil_contenido h1 {
    color: #333;
    font-size: 2em;
}

.perfil_contenido a {
    color: #555;
    font-size: 1.2em;
}
.botones {
    color: #555;
    font-size: 1.2em;
    background-color: #555;
    border: none;
    margin: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

h3.profile{
    margin-top: 7%;
}

div.profile{
    flex-direction: row;
    display: flex;
    justify-content: flex-end;
    gap: 542px;
}

.trabajoClaim{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 15%;
    margin-top: 7%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
}

.convivencia{
    display: flex;
    flex-direction: row;
}

.resenaTriple{
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    gap: 4.5%;
    justify-content: center;
}

.resena{
    width: 20%;
    border: 1px solid black;
    border-radius: 0 0 10px 10px;
    height: 150%;
}

.estrellas{
    margin-top: 5px;
    display: flex;
    justify-content: center;
}

.creadorResenas{
    margin-top: 7%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.creadorResenas label{
    display: flex;
    justify-content: center;
}

textarea{
    margin-top: 10px;
    width: 25%;
    height: 125px;
    margin: 0 auto;

}